---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import {Image} from "astro:assets";

import bg_banner from "../assets/background/bg_main.jpg";
import bg_creation from "../assets/background/bg_creation.svg"
import bg_members from "../assets/background/bg_members.png"

import member_1 from "../assets/members/betania.png"
import member_2 from "../assets/members/brayler.png"
import member_3 from "../assets/members/javier.png"

import logo from "../assets/appImage/logo.svg";
import vertrix_design from "../assets/appImage/vertrix_design.jpg"
---

<Layout title="Vertrix">
    <section class="relative w-full h-[90vh]">
        <Image
                src={bg_banner}
                alt="background_banner"
                class="absolute inset-0 w-full h-full object-cover"
        />

        <div class="absolute inset-0 bg-black/50"/>

        <div class="relative z-2 flex h-full flex-col items-center justify-center px-4 text-center">

            <Image
                    src={logo}
                    alt="Logo Vertrix"
                    class="h-[100px] w-auto"
            />

            <h1 class="text-3xl font-bold text-white md:text-5xl">
                Diseñamos con precision
            </h1>
            <p class="mt-4 text-lg text-gray-200 md:text-xl">
                Construimos con proposito
            </p>

        </div>
    </section>

    <section class="relative flex justify-center items-center h-screen bg-black text-white">
        <div class="text-9xl"> Servicios </div>
        <!--<Image-->
        <!--        src={bg_creation}-->
        <!--        alt="background_banner"-->
        <!--        class="absolute inset-0 w-full h-full object-cover"-->
        <!--/>-->
    </section>

    <section class="relative flex justify-center items-center h-screen text-white">
        <Image
                src={bg_creation}
                alt="background_banner"
                class="absolute inset-0 w-full h-full object-cover"
        />

        <div class="absolute inset-0 bg-black/50"/>

        <div class="relative flex z-2 w-85/100 justify-center items-center gap-5">
            <div class="flex flex-col items-center justify-center w-1/2">
                <div class="text-6xl text-center mb-8 w-9/10">Creación de vertrix</div>
                <div class="text-2xl text-center w-9/10 mt-6 px-5">
                    VERTRIX nace de la unión entre “vértice” (el punto donde todo converge) y “matrix” (el sistema donde
                    todo se crea y cobra forma). Representa el lugar exacto donde las ideas se encuentran, se transforman
                    y se convierten en realidad.
                </div>
            </div>
            <div class="flex flex-col justify-center items-center w-1/2">
                <Image
                        src={vertrix_design}
                        alt="Logo Vertrix"
                        class="h-[650px] w-auto"
                />
            </div>
        </div>
    </section>

    <section class="relative flex justify-center items-center h-screen">
        <Image
                src={bg_members}
                alt="background_banner"
                class="absolute inset-0 w-full h-full object-cover"
        />

        <div class="relative flex flex-col items-center z-2 w-85/100 ">
            <div> Miembros </div>
            <div class="flex gap-5">
                <Image
                        src={member_1}
                        alt="Vertrix team member"
                        class="h-[150px] w-auto"
                />
                <Image
                        src={member_2}
                        alt="Vertrix team member"
                        class="h-[150px] w-auto"
                />
                <Image
                        src={member_3}
                        alt="Vertrix team member"
                        class="h-[150px] w-auto"
                />
            </div>
        </div>
    </section>

    <div> Asignaciones </div>
</Layout>
